{% extends '::base.html.twig' %}

{% block title %}
    {{ 'zimzim_worldcup_userbet.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">UserBet list</h1>
        </div>
    </div>
    
    {{ grid_search(grid) }}

    {{ grid(grid) }}

{% endblock %}
