<footer class="footer row" id="footer">

    <span class="container-baballe hide-for-small ">
        <span class="baballe">
        </span>
    </span>
    <h4 class="text-right">
        <a href="{{ path('zimzim_bundles_worldcup_homepage') }}" class="hide-for-small bgcolor">
            {{ 'site.title.long'|trans }}
        </a>
        <a href="{{ path('zimzim_bundles_worldcup_homepage') }}" class="show-for-small bgcolor">
            {{ 'site.title.small'|trans }}
        </a>
    </h4>

</footer>