@import "settings";
@import "normalize";
@import "foundation";

html, body{
    height: 100%;
}
div.container{
    hight: auto;
    min-height: 100%;
    padding-bottom: 150px;
}

footer.footer{
    background: $topbar-bg-color;
    height: 150px;
    margin-top: -150px;
    clear:both;
    max-width: 100%;
    h4{
        color: #FFF;
        padding: 2rem;
    }
}
.top-bar .name{
    line-height: 45px;
    a{
        color: #FFF;
        padding: 0 1rem;
    }
}
table.width-100{
    width :100%;
}
.full-width{
    max-width: 100%;
}
.bgcolor{
    color: $body-bg !important;
}
.bgcolor:hover{
    color: $body-bg !important;
}
.primarycolor{
    color: $primary-color !important;
}
.bluecolor{
    color: $blue;
}
h1.headerpagehome{
    font-size: 1.85rem;
    padding: 2rem 0 1rem 0;
}
h2.headerpagehome{
    font-size: 1.65rem;
    padding: 0 0 2rem 0;
}
p.p-large{
    font-size: 1.15rem;
    padding: 1.5rem 0.25rem;
}
ul.grid-row-actions li a {
    font-weight: bold;
}
ul.grid-row-actions li a:hover {
    font-weight: bold;
    color: $secondary-color;
}