{% extends '::base.html.twig' %}

{% block title %}{{ 'views.user.default.index.title'|trans }}{% endblock %}

{% block page %}
    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center headerpagehome">
                FIFA Bet World Cup by centaure systems
            </h1>

            <h2 class="text-center headerpagehome">
                benvenuto da brazil
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <p class="bluecolor p-large">
                Bonjour à tous et à toutes, Centaure systems passe en mode Coupe Du Monde...<br/>
                Centaure Systems va vibrer au son de la samba et surtout du frisson du <strong>pari sportif !</strong>
                Eh oui, la direction vous propose de parier sur les matchs de phase de poule de la coupe du
                monde.<br/>
                Pour cela rien de plus simple, inscrivez-vous sur le site, pariez, vibrez :) !<br/>
                <strong>L'inscription est de 5 euros</strong> à donner au trésorier de centaure systems au plus tard le
                <strong>Lundi 16 juin 2014 à 10h00.</strong>
            </p>

            <p class="bluecolor p-large">
                Concernant le gagnant : La fin du jeu sera la fin des phases de poules de la coupe du monde soit le 27
                juin.
                En fonction du nombre de participants le butin sera partagé.<br/>
                <small>Possibilité de réitérer l'opération pour les plus joueurs d'entre vous pour une deuxième manche lors de la phase finale !</small>
            </p>
            <ul class="text-center">
                <li>Moins de 10 ou 10 participant => 1 vainqueur qui remporte la totalité du jackpot !</li>
                <li>plus de 10 participant => 1er 50% du jackpot ! - 2er 30% du jackpot ! - 3er 20% du jackpot !</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            {% if is_granted('ROLE_USER') %}
                <a class="large button round" href="{{ path('zimzim_worldcup_game') }}">
                    Je pari !
                </a>
            {% else %}
                <a class="large button round" href="{{ path('fos_user_registration_register') }}">
                    Alors Pret à tentez votre chance ?
                </a>
            {% endif %}
        </div>
    </div>

{% endblock page %}