{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.worldcup.score.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.worldcup.score.ranking.title'|trans }}
            </h1>
        </div>
    </div>

    <div class="row ">
        <div class="medium-centered small-12 medium-10 columns text-center panel">
            {% include 'ZIMZIMBundlesWorldCupBundle:Score:include/head-line-score.html.twig' %}
            {% for key,ranking in rankings %}
                {% set last = rankings|length - 1 %}
                {% include 'ZIMZIMBundlesWorldCupBundle:Score:include/line-score.html.twig' with {'ranking': ranking, 'last': last} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
